footer {
    padding-top: 7px;
    height: 100px;
    background-color: $isabelline;
    & .texto-footer {
        text-align: center;
        padding-top: 40px;
        font-size: 30px;
        font-weight: 500;
    }
}

@media (min-width: 200px) and (max-width: 991.98px) {}